<html>
    <h2><%= $name %> はわかりませんでした </h2>
    <h2> 種類を教えて下さい [人、哺乳類、爬虫類、両生類、鳥、魚、虫、その他] </h2>
    <head></head>
    <body>
        <form method="post" action="/register">
            <input type="text" name="newcategory">
            <input type="submit" value="送信"> 
        </form>
    </body>
</html>