<html>
    <h2> 動植物の名前を入れてください</h2>
    <head></head>
    <body>
        <form method="post" action="/">
            <input type="text" name="newname">
            <input type="submit" value="送信">
        </form>
    </body>
</html>