<html>
    <head></head>
    <body><h2>
        <%= $name %> を <%= $category %>に登録しました！
        <form method="get" action="/">
            <input type="submit" value="OK">
        </form>
        </h2>
    </body>
</html>