<html>
    <head>
         <h2> 素数をいくつリストしますか？ </h2>
    </head>
    
    <body>
        <form method="post" action="/">
            <input type="text" name="scount">
            <input type="submit" value="送信">
        </form>
    </body>
</html>